<html data-th-replace="~{fragment/footer :: frag_footer(content= ~{::main})}" lang="fr">

<main>
    <div class="relative z-10 ">
        <div class="ms-15 p-2">
            <h2 class="text-[5rem] font-medium text-white">Reset Password</h2>
            <h2 class="text-[3rem] font-light mb-15 text-white">Complete the form to reset your password</h2>
        </div>

<!--        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[500px] h-[500px] bg-purple-600/30 rounded-full blur-[100px] -z-10"></div>-->

        <div class="w-full p-8 flex justify-center ">

            <div th:if="${param.error}" class="p-4 text-sm text-red-400">
                Adresse email introuvable ou erreur technique.
            </div>
            <div th:if="${param.success}" class="p-4 text-sm text-green-400 ">
                Si ce compte existe, un email de réinitialisation a été envoyé.
            </div>

            <form class="w-full space-y-5" th:action="@{/forgotPassword}" method="post">

                <div class="w-full flex flex-col items-center">
                    <label for="email" class="block text-sm font-medium text-gray-300">Adresse email</label>

                    <div class="mt-2 w-full flex justify-center">
                        <input id="email"
                               name="email"
                               type="email"
                               autocomplete="email"
                               required
                               class="w-2/3 flex justify-center rounded-2xl border-0 bg-white py-3 px-3 text-black placeholder:text-black focus:ring-2"
                               placeholder="exemple@domaine.com" />
                    </div>
                </div>

                <div class="w-full flex justify-center">
                    <button type="submit"
                            class="flex w-2/3 justify-center rounded-2xl bg-black px-3 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-pink-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">
                        Envoyer le lien
                    </button>
                </div>

                <div class="text-center text-sm">
                    <a th:href="@{/login}" class="font-medium text-indigo-400 hover:text-indigo-300 transition-colors">
                        &larr; Retour à la connexion
                    </a>
                </div>
            </form>
        </div>


    </div>
</main>
</html>