<html data-th-replace="~{fragment/footer :: frag_footer(content= ~{::main})}" lang="fr">

<main>
    <div class="relative z-10 ">
        <h1>Réinitialisation du mot de passe</h1>

        <form th:action="@{/reset-password}" method="post">

            <input type="hidden" name="token" th:value="${token}" />

            <div>
                <label>Nouveau mot de passe :</label>
                <input type="password" name="password" required />
            </div>

            <button type="submit">Valider</button>
        </form>

    </div>
</main>
</html>