<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1>Liste des catégories</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="item : ${categoryList}">
            <td data-th-text="${item.category_id}"></td>
            <td data-th-text="${item.name}"></td>
            <td>
                <form th:action="@{/admin/delete(id=${item.category_id})}" method="post">

                    <input type="hidden" name="category_id" th:value="${item.category_id}"/>

                    <button type="submit" class="btn-danger">Supprimer</button>
                </form>
                <button type="button"
                        th:onclick="'document.getElementById(\'modal-' + ${item.category_id} + '\').showModal()'">
                    Modifier
                </button>


                <!--MODAL-->
                <dialog th:id="'modal-' + ${item.category_id}">
                    <h3>Modifier la catégorie</h3>

                    <form th:action="@{/admin/update}" method="post">

                        <input type="hidden" name="category_id" th:value="${item.category_id}"/>

                        <ul>
                            <li>
                                <label>Nom :</label>
                                <input type="text" name="name" th:value="${item.name}" required/>
                            </li>
                        </ul>

                        <button type="submit">Enregistrer</button>

                        <button type="button" onclick="this.closest('dialog').close()">Annuler</button>
                    </form>
                </dialog>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>