<!DOCTYPE html>
<html data-th-fragment="frag_layout(content)" lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1 id="nav-title">ENCHERE TEST</h1>
    <!--    <img src="/image/barbie.jpg" />-->
    <nav>
        <ul>
            <li><a th:href="@{/}">Accueil</a></li>
            <li th:if="${#authorization.expression('hasRole(''EMPLOYE'')')}"><a th:href="@{/barbie}">Barbies</a></li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/addBarbie}">Ajout barbies</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''EMPLOYE'')')}"><a th:href="@{/types}">Types</a></li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/addTypes}">Ajout Type</a></li>

            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a th:href="@{/login}">Connexion</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit">déconnexion</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main data-th-replace="${content}"></main>
<footer>
    <p>footer</p>
</footer>
</body>
</html>