<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>
    <div class="absolute top-0 left-0 w-full h-[120vh] overflow-hidden -z-10 pointer-events-none">

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(238, 27, 136, 0.66) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 left-1/2 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%);
                    transform: translate(-90%, -60%);">
        </div>

    </div>
    <section class="relative z-10 w-full">
        <h1 class="text-[5rem] font-bold p-1 ms-15 ">Your Collection</h1>
        <div class="flex w-full px-15  gap-10">

            <div class="flex flex-col justify-between w-full gap-8">


                <section class="mt-15 w-full mb-10">
                    <div class="border-1 border-white rounded-3xl p-5 grid grid-cols-4 gap-4 ">
                        <img src="/img/collection/ENI%20-%20Adrien%20L.png" alt="" srcset="" class=" w-90 h-90 ">
                        <img src="/img/collection/ENI%20-%20Adrien%20Q%201.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Amir.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Antonin.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Arthur.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Camille.png" alt="" srcset="" class=" w-60 h-70">
                        <img src="/img/collection/ENI%20-%20Clara.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20David.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Denis.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Emilia.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Julien.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Léna.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Mathilde.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Maud.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Maël.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Nicolas.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Raman.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Silvia.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Thomas.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-%20Yasmine.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-Baptiste.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/ENI%20-Vanina.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_astronaut.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_aventurier.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_basket.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_batman.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_boulanger.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_breton.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_chevalier.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_cowboy.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_danseur.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_detective.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_dev.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_fée.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_noël.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_plongeur.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_policier.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_pompier.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_samourai.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_sorcier.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_star.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_superman.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_viking.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/SIM_zoombie.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/hman_foot.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_bretonne.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_cascade.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_chimiste.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_cuisine.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_dino.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/Mafia_LEGENDARY.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_eleve.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_elvis.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_epouvantail.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_mage.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_noel.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_papa.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_pirate.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_real.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_roi.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_tech.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_touriste.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_mage2.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_travail.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_viking.png" alt="" srcset="" class=" w-90 h-90">
                        <img src="/img/collection/human_touriste2.png" alt="" srcset="" class=" w-90 h-90">








                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
</body>
</html>