<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <h1 class="text-[1.5rem] ml-9 text-white">New sale</h1>
    <form th:action="@{/ventes/createSale}" method="POST" th:object="${article}" class="max-w-md mx-auto">
        <div class='w-full max-w-lg backdrop-blur-sm rounded-xl p-8'>

            <div id="infos">
                <h2 class="text-center text-[1.3rem]">Infos</h2>
                <div>
                    <label class='block text-white text-sm mb-2'>Name</label>
                    <input type="text" required placeholder=" " th:field="*{articleName}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>

                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Category</label>
                    <select id="category" th:field="*{category.category_id}"
                            class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                            required>
                        <option th:each="item : ${categoryList}" th:text="${item.name}"
                                th:value="${item.category_id}"></option>
                    </select>
                </div>

                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Price</label>
                    <input type="number" required placeholder=" " th:field="*{startingPrice}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>
                <section class="flex place-content-around gap-2">
                    <div class="w-1/2">
                        <label class='mt-4 block text-white text-sm mb-2'>Start</label>
                        <input type="date" required placeholder=" " th:field="*{auctionStartDate}"
                               class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                    </div>
                    <div class="w-1/2">
                        <label class='mt-4 block text-white text-sm mb-2'>End</label>
                        <input type="date" required placeholder=" " th:field="*{auctionEndDate}"
                               class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                    </div>
                </section>

                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Description</label>
                    <textarea placeholder=" " rows="4" required th:field="*{description}"
                              class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'></textarea>
                </div>
            </div>
            <div id="withdrawal" class="hidden md:block mt-4">
                <h2 class="text-center text-[1.3rem]">Withdrawal</h2>
                <div>
                    <label class='block text-white text-sm mb-2'>Street</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.street}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
                <div>
                    <label class='block text-white text-sm mb-2'>Postal Code</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.postalCode}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
                <div>
                    <label class='block text-white text-sm mb-2'>City</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.city}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
            </div>
            <div class="actions flex items-center justify-around mt-6">
                <button type="button" id="btn-next"
                        class="md:hidden bg-white hover:from-green-600 hover:to-green-950 text-black text-sm px-8 md:px-16 py-3 rounded-full cursor-pointer"
                        onclick="nextStep()">Next
                </button>

                <button type="submit" id="btn-save"
                        class="hidden md:block bg-white hover:from-green-600 hover:to-green-950 text-black text-sm px-8 md:px-16 py-3 rounded-full cursor-pointer">
                    Save
                </button>

                <a href="/" class="text-white hover:text-gray-300 transition">Cancel</a>
            </div>
        </div>
    </form>
    <script th:src="@{/js/form-steps.js}"></script>


    <div class="relative z-10 w-full">
        <h2 class="text-[5rem] font-medium text-white">New sale</h2>

        <form th:action="@{/ventes/createSale}" method="POST" th:object="${article}" class="w-full flex-col mt-15">
            <div class="flex w-full">
                <section class="flex w-full justify-center gap-10">
                    <div>
                        <img src="/img/figurineTest.png" alt="" srcset="" class="w-80">
                    </div>
                    <div class="flex-col w-1/2 ">
                        <h1 class=" mb-2 font-bold">test</h1>
                        <div class=" flex h-12 w-3/4 items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-lock text-black" aria-hidden="true">
                                <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                            </svg>
                            <label for="idUsername"></label>
                            <input
                                    placeholder="Username"
                                    class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                                    required=""
                                    type="text"
                                    id="idUsername"
                                    name="username"
                            />

                        </div>
                        <h1 class="mt-12 mb-2 font-bold">test</h1>
                        <div class=" flex h-12 w-3/4 items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-lock text-black" aria-hidden="true">
                                <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                            </svg>
                            <label for="idUsername"></label>
                            <input
                                    placeholder="Username"
                                    class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                                    required=""
                                    type="text"
                                    id="idUsername"
                                    name="username"
                            />

                        </div>
                        <h1 class="mt-12 mb-2 font-bold">test</h1>
                        <div class=" flex h-12 w-3/4 items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">

                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="lucide lucide-lock text-black" aria-hidden="true">
                                <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                            </svg>
                            <label for="idUsername"></label>
                            <input
                                    placeholder="Username"
                                    class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                                    required=""
                                    type="text"
                                    id="idUsername"
                                    name="username"
                            />

                        </div>
                        <div class="flex w-3/4 gap-10">
                            <div class="flex-col w-full ">
                                <h1 class="mt-12 mb-2 font-bold">test</h1>
                                <div class=" flex h-12 w-full items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-lock text-black" aria-hidden="true">
                                        <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                        <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                                    </svg>
                                    <label for="idUsername"></label>
                                    <input
                                            placeholder="Username"
                                            class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                                            required=""
                                            type="text"
                                            id="idUsername"
                                            name="username"
                                    />

                                </div>
                            </div>
                            <div class="flex-col w-full">
                                <h1 class="mt-12 mb-2 font-bold">test</h1>
                                <div class=" flex h-12 w-full items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-lock text-black" aria-hidden="true">
                                        <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                        <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                                    </svg>
                                    <label for="idUsername"></label>
                                    <input
                                            placeholder="Username"
                                            class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                                            required=""
                                            type="text"
                                            id="idUsername"
                                            name="username"
                                    />

                                </div>
                            </div>
                        </div>

                    </div>


                </section>

            </div>
            <div>
                <div class="mt-15 flex h-12 w-full items-center gap-2 overflow-hidden rounded-full border border-gray-200 bg-white pl-5 focus-within:border-gray-300 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-lock text-black" aria-hidden="true">
                        <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                        <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    </svg>
                    <label for="idUsername"></label>
                    <input
                            placeholder="Username"
                            class="h-full  bg-white text-sm placeholder-black  text-black outline-none w-1/2"
                            required=""
                            type="text"
                            id="idUsername"
                            name="username"
                    />

                </div>
            </div>

        </form>
    </div>












    <section class="flex items-center justify-center py-12 px-4">
        <div class="grid md:grid-cols-2 md:gap-10 lg:gap-20 max-w-7xl w-full items-center">
            <div class="p-5">
                <h1 class="text-3xl font-semibold text-white text-center md:text-start mb-3 tracking-tight">
                    New Sell
                </h1>
                <p class="text-sm/6 text-white text-center md:text-start mx-auto md:mx-0 mb-8 leading-relaxed max-w-[400px]">
                    Have a question or idea? Our approachable team would love to connect and support you.
                </p>

                <form>
                    <div class="grid grid-cols-2 gap-4 mb-5">
                        <div>
                            <label class="block text-sm text-white mb-2">Name</label>
                            <input type="text" placeholder="David" class="w-full px-3 py-3 border border-gray-300 rounded-lg text-sm outline-none focus:border-indigo-500 transition-colors" />
                        </div>
                        <div>
                            <label class="block text-sm text-white-500 mb-2">Category</label>
                            <input type="text" placeholder="Andrew" class="w-full px-3 py-3 border border-gray-300 rounded-lg text-sm outline-none focus:border-indigo-500 transition-colors" />
                        </div>
                    </div>

                    <div class="mb-5">
                        <label class="block text-sm text-white mb-2">Email id</label>
                        <input type="email" placeholder="david@company.com" class="w-full px-3 py-3 border border-gray-300 rounded-lg text-sm outline-none focus:border-indigo-500 transition-colors"/>
                    </div>

                    <div class="mb-5">
                        <label class="block text-sm text-white-500 mb-2">Phone number</label>
                        <div class="flex border border-gray-300 rounded-lg overflow-hidden focus-within:border-indigo-500 transition-colors">
                            <select class="px-3 py-3 text-sm outline-none cursor-pointer text-white bg-white border-r border-gray-300">
                                <option>US</option>
                                <option>UK</option>
                                <option>IN</option>
                                <option>CA</option>
                            </select>
                            <input type="tel" placeholder="+1 342 123-456" class="flex-1 px-3 py-3 text-sm outline-none" />
                        </div>
                    </div>

                    <div class="mb-5">
                        <label class="block text-sm text-white mb-2">Message</label>
                        <textarea rows="4" class="w-full px-3 py-3 border border-gray-300 rounded-lg text-sm outline-none resize-y focus:border-indigo-500 transition-colors" ></textarea>
                    </div>

                    <div class="flex items-center gap-2 mb-6">
                        <input type="checkbox" class="w-5 h-5 cursor-pointer accent-indigo-500 rounded-[5px] text-gray-300" />
                        <label class="text-sm text-white cursor-pointer">
                            You agree to our <span class="underline">terms</span> and <span class="underline">privacy policy</span>.
                        </label>
                    </div>

<!--                    <button type="submit" class="w-full py-3.5 bg-linear-to-br from-indigo-500 to-purple-600 text-white rounded-lg text-sm cursor-pointer transition-all hover:-translate-y-0.5 hover:shadow-[0_10px_20px_rgba(99,102,241,0.3)]" >-->
<!--                        Send message-->
<!--                    </button>-->
                    <div class="mb-5">
                        <label class="block text-sm text-white mb-2">Message</label>
                        <textarea rows="4" class="w-full px-3 py-3 border border-gray-300 rounded-lg text-sm outline-none resize-y focus:border-indigo-500 transition-colors" ></textarea>
                    </div>
                </form>
            </div>

            <div class="rounded-3xl p-10 relative min-h-[662px] w-full max-w-[520px] hidden md:flex flex-col justify-between overflow-hidden">
                <img src="/img/figurineTest.png" alt="3D shapes" class="absolute inset-0 w-full h-full object-cover" />

                <div class="relative z-10 mt-auto">
                    <p class="text-sm/6 text-white mb-5 max-w-[400px]">
                        Stop spending hours recreating layouts - with <strong>PrebuiltUI</strong> you can copy, customize and launch stunning UIs in minutes.
                    </p>
                    <p class="text-sm text-white mb-4 text-right">━ Emily Rodriguez</p>
                    <div class="flex justify-end gap-2 items-center">
                        <div class="w-2.5 h-2.5 rounded-full bg-white"></div>
                        <div class="w-2.5 h-2.5 rounded-full bg-white"></div>
                        <div class="w-2.5 h-2.5 rounded-full bg-gray-400"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
</body>
</html>