<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">
<main>
    <div class="absolute top-0 left-0 w-full h-[120vh] overflow-hidden -z-10 pointer-events-none">

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(238, 27, 136, 0.66) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 left-1/2 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%);
                    transform: translate(-90%, -60%);">
        </div>

    </div>
    <h1 class="text-[1.5rem] md:text-[5rem] ml-9 text-white text-3xl font-semibold  text-start mb-3 tracking-tight">New
        sale</h1>
    <form th:action="${article.id != 0} ? @{/ventes/edit-sale} : @{/ventes/createSale}" enctype="multipart/form-data"
          method="POST" th:object="${article}"
          class="max-w-md mx-auto md:hidden">
        <input type="hidden" th:field="*{id}">
        <div class='w-full max-w-lg backdrop-blur-sm rounded-xl p-8'>

            <div id="infos">
                <h2 class="text-center text-[1.3rem]">Infos</h2>
                <div>
                    <label class='block text-white text-sm mb-2'>Name</label>
                    <input type="text" required placeholder=" " th:field="*{articleName}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>

                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Category</label>
                    <select id="category" th:field="*{category.category_id}"
                            class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                            required>
                        <option th:each="item : ${categoryList}" th:text="${item.name}"
                                th:value="${item.category_id}"></option>
                    </select>
                </div>

                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Price</label>
                    <input type="number" required placeholder=" " th:field="*{startingPrice}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>
                <section class="flex place-content-around gap-2">
                    <div class="w-1/2">
                        <label class='mt-4 block text-white text-sm mb-2'>Start</label>
                        <input type="date" required placeholder=" " th:field="*{auctionStartDate}"
                               class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                    </div>
                    <div class="w-1/2">
                        <label class='mt-4 block text-white text-sm mb-2'>End</label>
                        <input type="date" required placeholder=" " th:field="*{auctionEndDate}"
                               class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                    </div>
                </section>
                <div>
                    <label for="fileImage_Mobile" class='mt-4 block text-white text-sm mb-2'>Image</label>
                    <input type="file"
                           id="fileImage_Mobile"
                           name="imageFile"
                           accept="image/jpeg, image/png"
                           th:required="${article.id == 0}">
                    <p id="imageError_Mobile" class="hidden text-red-500 text-xs mt-1">L'image est trop lourde (max 1
                        Mo).</p>
                </div>
                <div>
                    <img src="#" alt="" id="thumbnail_Mobile">
                </div>
                <div>
                    <label class='mt-4 block text-white text-sm mb-2'>Description</label>
                    <textarea placeholder=" " rows="4" required th:field="*{description}"
                              class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'></textarea>
                </div>
            </div>
            <div id="withdrawal" class="hidden md:block mt-4">
                <h2 class="text-center text-[1.3rem]">Withdrawal</h2>
                <div>
                    <label class='block text-white text-sm mb-2'>Street</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.street}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
                <div>
                    <label class='block text-white text-sm mb-2'>Postal Code</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.postalCode}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
                <div>
                    <label class='block text-white text-sm mb-2'>City</label>
                    <input type="text" placeholder=" " th:field="*{withdrawal.city}"
                           class='w-full bg-white border border-white rounded-lg px-4 py-3 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'
                           required>
                </div>
            </div>
            <div class="actions flex items-center justify-around mt-6">
                <button type="button" id="btn-next"
                        class="md:hidden bg-white hover:from-green-600 hover:to-green-950 text-black text-sm px-8 md:px-16 py-3 rounded-full cursor-pointer"
                        onclick="nextStep()">Next
                </button>

                <button type="submit" id="btn-save"
                        class="hidden md:block bg-white hover:from-green-600 hover:to-green-950 text-black text-sm px-8 md:px-16 py-3 rounded-full cursor-pointer">
                    Save
                </button>

                <a href="/" class="text-white hover:text-gray-300 transition">Cancel</a>
            </div>
        </div>
    </form>
    <script th:src="@{/js/form-steps.js}"></script>
    <script th:src="@{/js/upload-preview.js}"></script>


    <section class="flex items-center justify-center py-12 px-4">
        <form class="md:grid md:grid-cols-2 md:gap-10 lg:gap-20 max-w-7xl w-full items-start hidden "
              th:action="${article.id != 0} ? @{/ventes/edit-sale} : @{/ventes/createSale}"
              enctype="multipart/form-data" method="POST" th:object="${article}">
            <input type="hidden" th:field="*{id}">

            <div class="p-5">
                <h1 class="text-3xl font-semibold text-white text-center md:text-start mb-3 tracking-tight">
                    Your product
                </h1>
                <p class="text-sm/6 text-white text-center md:text-start mx-auto md:mx-0 mb-8 leading-relaxed max-w-[400px]">
                    Have a question or idea? Our approachable team would love to connect and support you.
                </p>

                <div class="grid grid-cols-2 gap-4 mb-5 items-center">
                    <div>
                        <label class="block text-sm text-white mb-2" for="articleName">Name</label>
                        <input th:field="*{articleName}" id="articleName" type="text" placeholder="David"
                               class='w-full bg-white border border-white rounded-lg px-3 py-2 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                    </div>
                    <div>
                        <label for="category2" class="block text-sm text-white mb-2">Category</label>
                        <select id="category2" th:field="*{category.category_id}"
                                class='w-full bg-white border border-white rounded-lg px-3 py-2.5 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                            required>
                            <option th:each="item : ${categoryList}" th:text="${item.name}"
                                    th:value="${item.category_id}"></option>
                        </select></div>
                </div>

                <div class="grid grid-cols-2 gap-4 mb-5 items-center">

                <div class="mb-5">
                    <label for="price" class='mt-4 block text-white text-sm mb-2'>Price</label>
                    <input id="price" type="number" required placeholder=" " th:field="*{startingPrice}"
                           class='w-full bg-white border border-white rounded-lg px-3 py-2 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>
                    <div class="mb-5">
                        <label for="rarity" class='mt-4 block text-white text-sm mb-2'>Rarity</label>

                        <select id="rarity" th:field="*{rarity}" required
                                class='w-full bg-white border border-white rounded-lg px-3 py-2.5 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition
                            required'>
                            <option value="" disabled selected>Sélectionnez une rareté</option>

                            <option th:each="r : ${rarities}"
                                    th:value="${r}"
                                    th:text="${r}">
                            </option>

                        </select>
                    </div>
                </div>

                <div class="mb-5">
                    <label class='mt-4 block text-white text-sm mb-2' for="start">start</label>
                    <input id="start" type="datetime-local" required placeholder=" " th:field="*{auctionStartDate}"
                           class='w-full bg-white border border-white rounded-lg px-3 py-2 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>

                <div class="mb-5">
                    <label class='mt-4 block text-white text-sm mb-2' for="end">End</label>
                    <input id="end" type="datetime-local" required placeholder=" " th:field="*{auctionEndDate}"
                           class='w-full bg-white border border-white rounded-lg px-3 py-2 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                </div>
                <div>
                    <label for="fileImage_Desktop" class='mt-4 block text-white text-sm mb-2'>Image</label>
                    <input type="file"
                           id="fileImage_Desktop"
                           name="imageFile"
                           accept="image/jpeg, image/png"
                           th:required="${article.id == 0}">
                    <p id="imageError_Desktop" class="hidden text-red-500 text-xs mt-1">L'image est trop lourde (max 1
                        Mo).</p>
                </div>
            </div>

            <div class="rounded-3xl p-10 relative h-full min-h-[500px] w-full hidden md:flex flex-col justify-between overflow-hidden">
                <img src="#" alt="" id="thumbnail_Desktop" class="absolute inset-0 w-full h-full object-cover "/>

<!--                <div class="relative z-10 mt-auto">-->
<!--                    <p class="text-sm/6 text-white mb-5 max-w-[400px]">-->
<!--                        Stop spending hours recreating layouts - with <strong>PrebuiltUI</strong> you can copy,-->
<!--                        customize and launch stunning UIs in minutes.-->
<!--                    </p>-->
<!--                    <p class="text-sm text-white mb-4 text-right">━ Emily Rodriguez</p>-->
<!--                    <div class="flex justify-end gap-2 items-center">-->
<!--                        <div class="w-2.5 h-2.5 rounded-full bg-white"></div>-->
<!--                        <div class="w-2.5 h-2.5 rounded-full bg-white"></div>-->
<!--                        <div class="w-2.5 h-2.5 rounded-full bg-gray-400"></div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <div class="mb-5 md:col-span-2 w-full p-5">
                <label for="description" class="block text-sm text-white mb-2">Description</label>
                <textarea rows="4"
                          id="description"
                          required th:field="*{description}"
                          class='w-full bg-white border border-white rounded-lg px-3 py-2 text-black placeholder:text-black placeholder:text-sm focus:outline-none focus:border-stone-50 transition'>
                          placeholder="Write your message here..."></textarea>

                <div class="border border-white-500 w-full mt-10"></div>
                <h1 class="text-3xl mt-15 font-semibold text-white text-center md:text-start mb-3 tracking-tight">
                    Withdrawal
                </h1>

                <div class="flex-col mt-15">
                    <div class="flex flex-col mt-15 max-w-2xl mx-auto">
                        <div class="space-y-5">
                            <div class="grid grid-cols-3 items-center">
                                <label for="street" class="text-white font-medium">Street</label>
                                <input id="street" type="text" placeholder="Rue de la place"
                                       th:field="*{withdrawal.street}"
                                       class="col-span-2 bg-white rounded-lg px-4 py-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label for="postalCode" class="text-white font-medium">Postal Code</label>
                                <input id="postalCode" type="text" placeholder="35000"
                                       th:field="*{withdrawal.postalCode}"
                                       class="col-span-2 bg-white rounded-lg px-4 py-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                            <div class="grid grid-cols-3 items-center">
                                <label for="city" class="text-white font-medium">City</label>
                                <input id="city" type="text" placeholder="Paris" th:field="*{withdrawal.city}"
                                       class="col-span-2 bg-white rounded-lg px-4 py-2 text-black focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>

                        </div>

                        <div class="flex gap-4 mt-10">
                            <button type="submit"
                                    class="w-full py-3 bg-white text-black rounded-lg font-bold hover:bg-gray-200 transition">
                                Apply
                            </button>
                            <button type="button"
                                    class="w-full py-3 bg-gray-600 text-white rounded-lg font-bold hover:bg-gray-700 transition">
                                Back
                            </button>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </section>


</main>
</body>
</html>