<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%); transform: translate(30%, -30%);">
    </div>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(238, 27, 136, 0.76) 0%, rgba(0,0,0,0) 70%); transform: translate(50%, -10%);">
    </div>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%); transform: translate(-70%, -80%);">
    </div>

    <div class="relative z-10 flex flex-col justify-center items-center h-full gap-8 mx-auto text-center px-4">

        <h1 class="text-3xl tracking-wide md:text-[5rem] md:p-1 font-bold leading-tight">
            Your digital scarcity, <br> collect the unique.
        </h1>

        <h3 class="font-light tracking-wide md:text-xl md:p-1 max-w-2xl">
            Invest in your future, see the possibility with us. <br> Don't just watch. Own.
        </h3>

        <div class="flex gap-4">
            <a th:href="@{/auction}">
            <button class="bg-[#a60f65] hover:scale-108 transition text-white font-bold py-2 px-4 rounded-full w-30 md:w-40">
                Explore
            </button>
            </a>
            <a th:href="@{/about}">
            <button class="bg-[#a60f65] hover:scale-108 transition text-white font-bold py-2 px-4 rounded-full w-30 md:w-40">
                Learn More
            </button>
            </a>
        </div>

        <h3 class="font-bold tracking-wide md:p-1 mt-4">See your future invest : </h3>
        <img src="/img/indexIMG.png" alt="">
    </div>
        <div class="flex justify-center w-full">
            <img src="/img/unnamed-removebg-preview.png" alt="" srcset="" class="w-1/2">
        </div>
    </div>

</main>
</body>
</html>