<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%); transform: translate(30%, -30%);">
    </div>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(238, 27, 136, 0.76) 0%, rgba(0,0,0,0) 70%); transform: translate(50%, -10%);">
    </div>
    <div class="absolute -z-10 top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%); transform: translate(-70%, -80%);">
    </div>

    <div class="relative z-10 flex flex-col justify-center h-full gap-8 ml-7 md:gap-10 md:ml-15">

        <h1 class="text-3xl tracking-wide md:text-[5rem] md:p-1">
            Your digital scarcity, <br> collect the unique.
        </h1>

        <h3 class="font-light tracking-wide md:text-xl md:p-1">
            Invest in your future, see the possibility with us. <br> Don't just watch. Own.
        </h3>

        <div class="flex gap-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Explore
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Learn More
            </button>
        </div>
        <h3 class="font-light tracking-wide md:p-1 ">See your future invest : </h3>

    <h3 class="ms-15 mt-15 p-1">see your futur invest : </h3>
    <div class="flex p-2 justify-around">
        <div class="max-w-[15rem] rounded overflow-hidden shadow-lg">
            <img class=" rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">

            <div class="font-bold text-xl mb-2">The Figurine Test</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                perferendis eaque, exercitationem praesentium nihil.
            </p>

            <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#focus</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#toTheMoon</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Informatique</span>
            </div>
        </div>

        <div class="max-w-[15rem] rounded overflow-hidden shadow-lg">
            <img class=" rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">

            <div class="font-bold text-xl mb-2">The Figurine Test</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                perferendis eaque, exercitationem praesentium nihil.
            </p>

            <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#focus</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#toTheMoon</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Informatique</span>
            </div>
        </div>

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
        <div class="flex justify-center w-full">
            <img src="/img/unnamed-removebg-preview.png" alt="" srcset="" class="w-1/2">
        </div>
    </div>

</main>
</body>
</html>