<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>
    <div class="relative z-10 flex-col justify-center items-center text-center">
        <h1 class="text-[5rem] p-1  ">Your digital scarcity <br> collect the unique</h1>
        <h3 class=" text-xl p-1 mt-10">invest in your futur, see the possibility with us. <br> Don't just watch.
            Own.</h3>
    </div>
    <div class="absolute top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%); transform: translate(30%, -30%);">
    </div>
    <div class="absolute top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(238, 27, 136, 0.76) 0%, rgba(0,0,0,0) 70%); transform: translate(50%, -10%);">
    </div>
    <div class="absolute top-1/2 right-0 w-[800px] h-[800px]"
         style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%); transform: translate(-70%, -80%);">
    </div>
    <div class="relative z-10">
        <div class="flex justify-center gap-10">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Explore
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Learn More
            </button>
        </div>

        <h3 class="ms-15 mt-15 p-1">see your futur invest : </h3>

<!--        <div class="flex p-2 gap-6 overflow-x-auto pb-4 justify-around">-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="max-w-[15rem] min-w-[15rem] flex-shrink-0 rounded overflow-hidden shadow-lg">-->
<!--                <img class="rounded-t-4xl" src="/img/figurineTest.png" alt="figurine test">-->
<!--                <div class="px-4 py-2">-->
<!--                    <div class="font-bold text-xl mb-2">The Figurine Test</div>-->
<!--                    <p class="text-gray-700 text-base text-sm">-->
<!--                        Lorem ipsum dolor sit amet.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
        <div class="flex justify-center w-full">
            <img src="/img/unnamed-removebg-preview.png" alt="" srcset="" class="w-1/2">
        </div>
    </div>

</main>
</body>
</html>