<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main class="mb-30">
    <div class="absolute top-0 left-0 w-full h-[120vh] overflow-hidden -z-10 pointer-events-none">

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(238, 27, 136, 0.66) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 left-1/2 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%);
                    transform: translate(-90%, -60%);">
        </div>

    </div>
    <h2 class="text-[4rem]    md:text-[5rem] ml-9 text-white text-3xl font-semibold  text-start mb-3 tracking-tight mb-10">
        All Auction</h2>
    <section class=" h-2/3 w-full mb-10">
        <div class="flex justify-center">
            <div class=" overflow-x-auto bg-grey dark:bg-neutral-700 max-h-full overflow-y-auto
          [&::-webkit-scrollbar]:w-2
          [&::-webkit-scrollbar-track]:bg-transparent
          [&::-webkit-scrollbar-thumb]:bg-transparent
          dark:[&::-webkit-scrollbar-track]:bg-neutral-700
          dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">


                <table class="min-w-full text-left text-sm whitespace-nowrap">
                    <thead class="uppercase tracking-wider sticky top-0 bg-grey dark:bg-neutral-700 outline outline-2 outline-neutral-200 dark:outline-neutral-600 bg-black">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            item Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            image
                        </th>
                        <th scope="col" class="px-6 py-3">
                            auction Date start
                        </th>
                        <th scope="col" class="px-6 py-3">
                            auction Date end
                        </th>
                        <th scope="col" class="px-6 py-3">
                            starting price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            priceSale
                        </th>
                        <th scope="col" class="px-6 py-3">
                            rarity
                        </th>
                        <th scope="col" class="px-6 py-3">
                            user
                        </th>
                        <th scope="col" class="px-6 py-3">
                            category
                        </th>
                        <th scope="col" class="px-6 py-3">
                            status
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="i : ${itemsList}" class="border-b dark:border-neutral-600">
                        <th class="px-6 py-3" th:text="${i.id}"></th>
                        <th class="px-6 py-3" th:text="${i.articleName}"></th>
                        <th class="px-6 py-3" th:text="${i.image}"></th>
                        <th class="px-6 py-3" th:text="${i.auctionStartDate}"></th>
                        <th class="px-6 py-3" th:text="${i.auctionEndDate}"></th>
                        <th class="px-6 py-3" th:text="${i.startingPrice}"></th>
                        <th class="px-6 py-3" th:text="${i.priceSale}"></th>
                        <th class="px-6 py-3" th:text="${i.rarity}"></th>
                        <th class="px-6 py-3" th:text="${i.getSeller().getUsername()}"></th>
                        <th class="px-6 py-3" th:text="${i.getCategory().getName()}"></th>
                        <th class="px-6 py-3" th:text="${i.status}"></th>
                        <th>
                            <form th:action="@{/ventes/delete-sale(id=${i.id})}" method="post">

                                <input type="hidden" name="_method" value="delete"/>

                                <button type="submit" class="btn-danger">Supprimer</button>
                            </form>
                        </th>
                    </tr>
                    </tbody>
                    <tfoot class="border-t-2 dark:border-neutral-600">
                    <tr>
                        <th class="px-6 py-3">Total Auction:</th>
                        <td class="px-6 py-3" th:text="${itemsList.size()}"></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </section>
</main>
</body>
</html>