<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>
    <div class="absolute top-0 left-0 w-full h-[120vh] overflow-hidden -z-10 pointer-events-none">

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(126, 34, 206, 0.4) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 right-0 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(238, 27, 136, 0.66) 0%, rgba(0,0,0,0) 70%);
                    transform: translate(30%, -30%);">
        </div>

        <div class="absolute top-1/2 left-1/2 w-[400px] h-[400px] md:w-[800px] md:h-[800px]"
             style="background: radial-gradient(circle, rgba(30, 237, 251, 0.46) 0%, rgba(0,0,0,0) 50%);
                    transform: translate(-90%, -60%);">
        </div>

    </div>
    <h2 class="text-[4rem] font-medium ms-15 p-5 text-white">All Users</h2>
    <section class=" h-2/3 w-full mb-10">
        <div class="flex justify-center">
            <div class=" overflow-x-auto bg-grey dark:bg-neutral-700 max-h-full overflow-y-auto
          [&::-webkit-scrollbar]:w-2
          [&::-webkit-scrollbar-track]:bg-transparent
          [&::-webkit-scrollbar-thumb]:bg-transparent
          dark:[&::-webkit-scrollbar-track]:bg-neutral-700
          dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">



                <table class="min-w-full text-left text-sm whitespace-nowrap">

                    <thead class="uppercase tracking-wider sticky top-0 bg-grey dark:bg-neutral-700 outline outline-2 outline-neutral-200 dark:outline-neutral-600 bg-black">
                    <tr>
                        <th scope="col" class="px-3 py-3">
                            Username
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Last Name
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Frist Name
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Phone
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Street
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Postal Code
                        </th>
                        <th scope="col" class="px-3 py-3">
                            City
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Credit
                        </th>
                        <th scope="col" class="px-3 py-3">
                            Admin
                        </th>
                        <th scope="col" class="px-3 y-3">
                            Disable
                        </th>
                        <th scope="col" class="px-3 y-3">
                            Delete
                        </th>
                    </tr>
                    </thead>

                    <!-- Table body -->
                    <tbody>

                    <tr th:each="u : ${userList}" class="border-b dark:border-neutral-600">
                        <th class="px-3 py-3" th:text="${u.getUsername()}"></th>
                        <th class="px-3 py-3" th:text="${u.getLastName()}"></th>
                        <th class="px-3 py-3" th:text="${u.getFirstName()}"></th>
                        <th class="px-3 py-3" th:text="${u.getEmail()}"></th>
                        <th class="px-3 py-3" th:text="${u.getNumPhone()}"></th>
                        <th class="px-3 py-3" th:text="${u.getStreet()}"></th>
                        <th class="px-3 py-3" th:text="${u.getPostalCode()}"></th>
                        <th class="px-3 py-3" th:text="${u.getCity()}"></th>
                        <th class="px-3 py-3" th:text="${u.getCredit()}"></th>
                        <th class="px-3 py-3" th:text="${u.isAdmin()}"></th>
                        <th>
                            <form th:action="@{/disable-user}" method="post">
                                <input type="hidden" name="id" th:value="${u.user_id}">

                                <button type="submit" class="cursor-pointer"
                                        th:text="${u.active ? 'Désactiver' : 'Réactiver'}"
                                        th:style="${u.active ? 'color: red;' : 'color: green;'}">
                                </button>
                            </form>
                        </th>
                        <th>
                            <form th:action="@{/deleteUser(id=${u.user_id})}" method="post">

                                <input type="hidden" name="_method" value="delete"/>

                                <button type="submit" class="btn-danger cursor-pointer">Supprimer</button>
                            </form>
                        </th>
                    </tr>


                    </tbody>

                    <tfoot class="border-t-2 dark:border-neutral-600">
                    <tr>
                        <th class="px-6 py-3">Total User:</th>
                        <td class="px-6 py-3" th:text="${userList.size()}"></td>
                    </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </section>
</main>
</body>
</html>