<!DOCTYPE html>
<html data-th-replace="~{fragment/layout :: frag_layout(content= ~{::main})}" lang="fr">

<body>
<main>

    <div class=" flex flex-col w-full h-full overflow-scroll bg-transparent shadow-md rounded-lg bg-clip-border justify-center items-center p-5">
        <table class="w-full text-left table-auto min-w-max">
            <thead>
            <tr>
                <th class="p-4 border-b border-slate-300 bg-black">
                    <p class="block text-sm font-normal leading-none text-white">
                        Street
                    </p>
                </th>
                <th class="p-4 border-b border-slate-300 bg-black">
                    <p class="block text-sm font-normal leading-none text-white">
                        Postal Code
                    </p>
                </th>
                <th class="p-4 border-b border-slate-300 bg-black">
                    <p class="block text-sm font-normal leading-none text-white">
                        City
                    </p>
                </th>
                <th class="p-4 border-b border-slate-300 bg-black">
                    <p class="block text-sm font-normal leading-none text-white"></p>
                </th>
            </tr>
            </thead>
            <tbody class="text-white">
            <tr  th:each="w : ${withdrawalList}">
                <td class="p-4 border-b border-slate-200"  th:text="${w.street}">
                </td>
                <td class="p-4 border-b border-slate-200"  th:text="${w.postalCode}">

                </td>
                <td class="p-4 border-b border-slate-200"  th:text="${w.city}">
                </td>
                <td class="p-4 border-b border-slate-200">
                    <a href="#" class="block text-sm font-semibold text-white">
                        Edit
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</main>
</body>
</html>